
<form action="http://localhost:3000/create_director">
  <div>
    <label for="director_name">Name:</label>
    <input id="director_name" type="string" name="the_name">
  </div>
  <div>
    <label for="director_bio">Bio:</label>
    <input id="director_bio" type="text" name="the_bio">
  </div>
    <div>
    <label for="director_dob">Date of Birth:</label>
    <input id="director_dob" type="string" name="the_dob">
  </div>
    <div>
    <label for="director_image_url">Picture URL:</label>
    <input id="director_image_url" type="string" name="the_url">
  </div>
  <div>
    <button>Add Director</button>
  </div>
</form>
