<form action="http://localhost:3000/create_movie">
  <div>
    <label for="movie_title">Title:</label>
    <input id="movie_title" type="string" name="the_title">
  </div>
  <div>
    <label for="movie_year">Year Released:</label>
    <input id="movie_year" type="integer" name="the_year">
  </div>
    <div>
    <label for="movie_duration">Duration (minutes):</label>
    <input id="movie_duration" type="integer" name="the_duration">
  </div>
      <div>
    <label for="movie_description">Description:</label>
    <input id="movie_description" type="text" name="the_description">
  </div>
    <div>
    <label for="movie_image_url">Picture URL:</label>
    <input id="movie_image_url" type="string" name="the_url">
  </div>
  <div>
    <button>Add Movie</button>
  </div>
</form>
